<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csjbot.coshandler">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 必选 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 2. Android14 专属：dataSync类型前台服务的核心权限【本次崩溃修复的唯一关键】 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.HandlerMsgService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>
        <service
            android:name=".service.CameraService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.CsjlogService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.CheckEthernetService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>
        <service
            android:name=".service.HandlerMsgSocketService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.csjbot.asragent.aiui_soft.AiuiMixedService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>